@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}

.about-part{
  background-color: #f7f9ff;
}
.nav-pills .nav-link.active{
  background-color: #198754;
}

.card{
  width: 90%;
  transition: .4s;
  border: 1px solid grey;
}

.card:hover{
   transform: scale(1.1);
  box-shadow: 2px 6px 5px black; 
}

.contact-form .card{
  box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2); 
 padding: 40px;
}

.col-lg-5{

  background-color: #198754;
  border-radius: 5px;
  box-shadow: 2px 6px 5px gray;
 
  padding: 20px;
  color: white;

}

footer{
  padding:30px 0;
  background-color:  rgb(4, 9, 30);
  width: 100%;
  height: auto;
  /* position: absolute; */
  color: #fff;
 
  text-align: center;

}